<div class="container">
    <h2>My Anime List</h2>

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <a routerLink="/anime-details/{{ anime.id }}" *ngFor="let anime of animes" class="list-group-item  list-group-item-action">
                    <span class="badge badge-danger">{{ anime.id }}</span> {{ anime.name }}
                </a>
            </ul>
        </div>
    </div>

    <!-- <app-anime-details [anime]="selectedAnime"></app-anime-details> -->
</div>
